<!--
/*
* Copyright 2007 YOUR-ORGANISATION4
*
* Licensed under the EUPL, Version 1.1 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/
-->

<head>
  <title>[page title]</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- jQueryMobileCSS - styling-->
  <link rel="stylesheet" href="css/jqeury.mobile.theme.min.css" />

  <!-- jQueryMobile icons -->
  <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />

  <!-- jQueryMobile core CSS -->
  <link rel="stylesheet" href="css/jquery.mobile.min.css" />

  <!-- NIGHTLY style -->
  <link rel="stylesheet" href="css/nightly.css" />

  <!-- CUSTOMS style -->
  <link rel="stylesheet" href="css/qol.css" />

  <!-- Load Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic|Oswald:400,700' rel='stylesheet' type='text/css'>

  <!-- Load Font Awesome Icons -->
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <!-- jQuery / jQueryMobile Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.mobile.min.js"></script>

    <script src="js/config.js"></script>
  <!-- Openlayers Map Scripts -->
  <link rel="stylesheet" href="css/ol.css" type="text/css">
  <link rel="stylesheet" href="css/ol3-layerswitcher.css" type="text/css">
  <script src="js/ol.js"></script>
  <script src="js/ol3-layerswitcher.js"></script>
  <script src="js/mapa.js"></script>

<!--  <script src="js/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="js/handsontable.full.css">-->

  <script src="js/snap.svg.js"></script>
  <script src="js/hexcellselector.js"></script>
  <script src="js/nightly.js"></script>

</head>

<body>

  <!-- INTRO PAGE -->
  <div id="login" data-role="page" data-hteme='a'>
    <div data-role="header" data-tap-toggle="false" data-theme='a'>
      <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>-->
      <h1 class="header-title">QoL Map</h1>
      <!--<a href='#about' data-role="none" id="a-right-sidebar">
        <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
      </a>-->
    </div>

    <div data-role="content">
      <div data-role="none" class="nightly-text-box nightly-text-box-a align-center">
        <h3 class="nightly-text-box-title">Login</h3>
        <input id="user_login_txt" data-role="none" type="text" class="nightly-input" style="margin: 0 auto 10px;" placeholder="User" />
        <input id="pass_login_txt" data-role="none" type="password" class="nightly-input" style="margin: 0 auto 10px;" data-theme="a" placeholder="password" />
        <a id="login_button" href="#tools" data-role="none" class="nightly-button nightly-button-a"  >Login</a>
          <a href="#signup" data-role="none" class="nightly-button nightly-button-a"  >Sign Up</a>
      </div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" style="text-align:center;">
      <img src="images/logo_ec-small.jpg" style="margin: 0 auto"/>
      <img src="images/MYGEOS.png" style="margin: 0 auto"/>
      <p> Smallsignals thanks to European Comission </p>
    </div>
  </div>


  <!-- ABOUT PAGE -->
  <div id="about" data-role="page" data-hteme='a'>
    <div data-role="header" data-tap-toggle="false" data-theme='a'>
      <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
      <h1 class="header-title">QoL Map</h1>
      <!-- <a href='#about' data-role="none" id="a-right-sidebar">
        <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
      </a> -->
    </div>
    <div data-role="content">
      <h2>
        About
      </h2>
      <p>
        This application has been developed within the MyGEOSS project,
        which has received funding from the European Union’s Horizon 2020
        research and innovation programme.
      </p>
    </div>
    <div data-role="footer" data-theme="none" data-border="false" style="text-align:center;">
      <img src="images/logo_ec-small.jpg" style="margin: 0 auto"/>
      <p> Smallsignals thanks to European Comission </p>
    </div>
  </div>

  <!-- FIRST STEPS -->
  <div id="firststeps" data-role="page" data-hteme='a'>
    <div data-role="header" data-tap-toggle="false" data-theme='a'>
      <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
      <h1 class="header-title">QoL Map</h1>
      <!-- <a href='#about' data-role="none" id="a-right-sidebar">
        <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
      </a> -->
    </div>
    <div data-role="content">
		<h2>
			First Steps
		</h2>
		<video width="100%" height="auto" controls autoplay >
			<source src="images/training.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>

		<p>
			This application has been developed within the MyGEOSS project,
			which has received funding from the European Union’s Horizon 2020
			research and innovation programme.
		</p>
    <a href="#privacy">Pivacy statement</a>

		<a href="#login" data-role="none" class="nightly-button nightly-button-a">Ok</a>

    </div>
    <div data-role="footer" data-theme="none" data-border="false" style="text-align:center;">
      <p> Smallsignals thanks to European Comission </p>
    </div>
  </div>

  <!-- TOOLS -->

  <div id="tools" data-role="page" data-hteme='a'>
    <div data-role="header" data-tap-toggle="false" data-theme='a' align="center">
      <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
      <h1 class="header-title">QoL Map</h1>
      <!-- <a href='#about' data-role="none" id="a-right-sidebar">
        <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
      </a> -->
    </div>
    <div data-role="content">
      <h2>
        Tools
      </h2>
      <div class="ui-grid-a ui-responsive">
        <div class="ui-block-a">
          <div data-role="none" class="nightly-text-box nightly-text-box-a align-center">
            <h3 class="nightly-text-box-title">Map</h3>
            <a href="#map"><img src="images/mapa.png" style="max-width:200px; width:unset"/></a>
          </div>
          <div data-role="none" class="nightly-text-box nightly-text-box-a align-center">
            <h3 class="nightly-text-box-title">About</h3>
            <a href="#about"><img src="images/users.png" style="max-width:180; width:unset"/></a>
          </div>
        </div>
        <div class="ui-block-b">
          <div data-role="none" class="nightly-text-box nightly-text-box-a align-center">
            <h3 class="nightly-text-box-title">Contribute</h3>
            <a href="#contribute"><img src="images/contrib.png" style="max-width:140px; width:unset"/></a>
          </div>
          <div data-role="none" class="nightly-text-box nightly-text-box-a align-center">
            <h3 class="nightly-text-box-title">First Steps</h3>
            <a href="#firststeps"><img src="images/about.png" style="max-width:200px; width:unset"/></a>
          </div>
        </div>
      </div>
    </div>
    <div data-role="footer" data-theme="none" data-border="false">
      Smallsignals thanks to European Comission
    </div>

  </div>


  <!-- PAGINA DEL MAPA -->

  <div id="map" data-role="page" data-theme='a'>
    <div data-role="panel" data-dismissible="false" data-display="overlay" id="sidebar" data-theme="a">
      <a href='#map' data-rel="close" data-role="none" class="ui-btn-right"><img src="images/left-arrow.png" alt="sidebar" id="header-menu-icon" /></a>

      <svg id="svg" height=100px width=256px>
        <!-- this is filled by snap.svg -->
      </svg>
      <div data-role="none" class="nightly-text-box nightly-text-box align-center" style="background-color: white; position: relative;">
        <div style="height:150px;  overflow:auto; ">
          <table id="table2" data-role="table" class="ui-responsive" >
            <thead>
              <tr>
                <th>Name</th>
<!--                <th data-priority="1">GDP</th>
                <th data-priority="1">Health</th>
                <th data-priority="2">Pop</th>
                <th data-priority="3">Forest</th>
                <th data-priority="3">Air</th>
                <th data-priority="4">i</th>
                <th data-priority="4">j</th>-->
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <div data-role="none" class="nightly-text-box nightly-text-box align-center" style="background-color: white; position: relative;">
        <div style="height:300px;  overflow:auto; ">
          <table id="detail_table" data-role="pricing-table">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div id="table">

      </div>
      <a href="#tools">back.. </a>
    </div>
    <div data-role="header" data-tap-toggle="false" data-theme='a'>
      <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
      <h1 class="header-title">QoL Map</h1>

      <a href='#about' data-role="none" id="a-right-sidebar">
        <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
      </a>
    </div>
    <div data-role="content" style="position:relative;">
      <div id="map_container" >

      </div>
      <div style="position: absolute;top: 10px;right: 10px ; background-color:yellow">
        <form role="search" method="get" id="searchform" class="nightly-searchform fullwidth ">
         <input data-role="none" class="nightly-input" type="text" name="s" id="s" placeholder="Find location..." value="" style="background: rgb(235, 206, 36);" />
         <input data-role="none" class="nightly-button" type="button" name="submit" id="searchbutton" value="" />
       </form>
     </div>
     <div  id="street_to_grid" class='nightly-alert nightly-alert-info' style="position:absolute; right: 10px; bottom: 10px;">
      <i class='fa fa-2x fa-lightbulb-o fa-fw'></i>
      <p>street saved to grid</p>
    </div>

  </div>
  <div data-role="footer" data-theme="none" data-border="false">
    Smallsignals thanks to European Comission
  </div>
</div>

<div id="contribute" data-role="page" data-hteme='a'>
  <div data-role="header" data-tap-toggle="false" data-theme='a'>
    <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
    <h1 class="header-title">QoL Map</h1>
    <!--<a href='#about' data-role="none" id="a-right-sidebar">
      <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
    </a>-->
  </div>
  <div data-role="content">
    <h2>
      Send us your city data
    </h2>
    <p>
      Send us your QOL city data and contribute to the project. Remember that this data will be publicly available for download.
      Therefore don't insert here any thing that you consider private or personal.
      You must fill all data taking into account the average value of your living area.
    </p>
    <a href="#privacy">Pivacy statement</a>

    <ul id="contriblist" data-role="listview">
      <li data-role="list-divider">Residence
      </li>
      <li data-role="fieldcontain">
        <label>Country:</label>
        <input id="contrib_country" data-corners="false" type="text" value="" data-clear-btn="true" placeholder="Type text...">
      </li>
      <li data-role="fieldcontain">
        <label>City:</label>
        <input id="contrib_city" data-corners="false" type="text" value="" data-clear-btn="true" placeholder="Type text...">
      </li>
      <li data-role="fieldcontain">
        <label>Street:</label>
        <input id="contrib_street" data-corners="false" type="text" value="" data-clear-btn="true" placeholder="Type text...">
      </li>

      <li data-role="list-divider">Transportation
      </li>
      <li data-role="fieldcontain">
        <label>Time to work (min):</label>
        <input id="contrib_ttowork" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="Type text...">
      </li>
      <li data-role="fieldcontain">
        <label>Transport:</label>
        <select id="contrib_transport" data-corners="false">
          <option value="walk">Walk</option>
          <option value="train">Train</option>
          <option value="subway">Subway</option>
          <option value="bus">Bus</option>
          <option value="car">Car</option>
        </select>
      </li>
      <li data-role="fieldcontain">
        <label>Describe Traffic:</label>
        <select id="contrib_traffic" data-corners="false">
          <option value="none">None</option>
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
          <option value="jam">Jam</option>
        </select>
      </li>
      <li data-role="list-divider">Water Quality
      </li>
      <li data-role="fieldcontain">
        <label>Tap Water is:</label>
		<select id="contrib_tapwater" data-corners="false">
          <option value="verybad">Very Bad</option>
          <option value="bad">Bad</option>
          <option value="medium">Medium</option>
          <option value="good">Good</option>
          <option value="verygood">Very Good</option>
        </select>

      </li>
      <li data-role="fieldcontain">
        <label>Nearby river pollution:</label>
        <select id="contrib_riverpollution" data-corners="false">
          <option value="none">None</option>
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
        </select>
      </li>
      <li data-role="list-divider">Public Safety
      </li>
      <li data-role="fieldcontain">
        <label>Value:</label>
        <select id="contrib_publicsafety" data-corners="false">
          <option value="none">None</option>
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </li>
      <li data-role="list-divider">Health and Education Care
      </li>
      <li data-role="fieldcontain">
        <label>Health Services:</label>
 		<select id="contrib_healthservices" data-corners="false">
          <option value="verybad">Very Bad</option>
          <option value="bad">Bad</option>
          <option value="medium">Medium</option>
          <option value="good">Good</option>
          <option value="verygood">Very Good</option>
        </select>

      </li>
      <li data-role="fieldcontain">
        <label>Low level education quality:</label>
        <select id="contrib_loweducation" data-corners="false">
          <option value="verybad">Very Bad</option>
          <option value="bad">Bad</option>
          <option value="medium">Medium</option>
          <option value="good">Good</option>
          <option value="verygood">Very Good</option>
        </select>
     </li>
      <li data-role="fieldcontain">
        <label>High Level education:</label>
        <select id="contrib_higheducation" data-corners="false">
          <option value="verybad">Very Bad</option>
          <option value="bad">Bad</option>
          <option value="medium">Medium</option>
          <option value="good">Good</option>
          <option value="verygood">Very Good</option>
        </select>
      </li>
      <li data-role="list-divider">Purchase Power
      </li>
      <li data-role="fieldcontain">
        <label>Average House price:</label>
        <input id="contrib_houseprice" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="in euros...">
      </li>
      <li data-role="fieldcontain">
        <label>Average Salary:</label>
        <input id="contrib_sallary" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="in euros...">
      </li>
      <li data-role="fieldcontain">
        <label>Public transport ticket price:</label>
        <input id="contrib_publictranspprice" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="in euros...">
      </li>
      <li data-role="fieldcontain">
        <label>Average meal price (restaurant):</label>
        <input id="contrib_restaurantprice" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="in euros...">
      </li>
      <li data-role="fieldcontain">
        <label>Average meal price (fast food):</label>
        <input id="contrib_fasfoodprice" data-corners="false" type="number" value="" data-clear-btn="true" placeholder="in euros...">
      </li>

    </ul>
    <button id="contrib_btton" class="ui-btn">Send</button>

  </div>
  <div data-role="footer" data-theme="none" data-border="false">
    Smallsignals thanks to European Comission
  </div>
</div>

<!-- SIGN UP PAGE -->
<div id="signup" data-role="page" data-hteme='a'>
  <div data-role="header" data-tap-toggle="false" data-theme='a'>
    <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
    <h1 class="header-title">Sign Up</h1>
    <!-- <a href='#about' data-role="none" id="a-right-sidebar">
      <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
    </a> -->
  </div>
  <div data-role="content">
    <h2>
      Sign Up
    </h2>
    <p>
      Please fill your details
    </p>
<!--  username character varying(50),
  password character varying(100),
  email character varying(100),-->

    <ul id="contriblist" data-role="listview">
      <li data-role="fieldcontain">
        <label>Username:</label>
        <input id="username_txt" data-corners="false" type="text"
               value="" data-clear-btn="true" placeholder="Type text...">
      </li>
      <li data-role="fieldcontain">
        <label>Password:</label>
        <input id="password_txt" data-corners="false" type="password"
               value="" data-clear-btn="true" placeholder="Type text...">
      </li>
      <li data-role="fieldcontain">
        <label>Email:</label>
        <input id="email_txt" data-corners="false" type="text"
               value="" data-clear-btn="true" placeholder="Type text...">
      </li>
    </ul>
    <button id="signup_btton" class="ui-btn">Send</button>
    <a href="#privacy">Pivacy statement</a>
  </div>
  <div data-role="footer" data-theme="none" data-border="false">
    Smallsignals thanks to European Comission
  </div>
</div>
<!-- PRIVACY STATEMENT PAGE -->
<div id="privacy" data-role="page" data-hteme='a'>
  <div data-role="header" data-tap-toggle="false" data-theme='a'>
    <!-- <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a> -->
    <h1 class="header-title">Privacy Statement</h1>
    <!-- <a href='#about' data-role="none" id="a-right-sidebar">
      <img src="images/right-menu-icon.png" alt="sidebar" id="header-search-icon" />
    </a> -->
  </div>
  <div data-role="content">
    <h2>
      Privacy statement
     </h2>
    <p>
      Please fill your details
    </p>


    <h2>    PRIVACY STATEMENT QOL MAPPING    </h2>


<h3>PERSONAL INFORMATION PUBLISHED ON QOL MAPPING WEBSITE OR APPLICATIONS</h3>
<p>All personal information displayed on the QOL MAPPING website or QOL MAPPING applications is subject to the following Specific Privacy Statement, accepted by the data subject prior to the collection of his/her personal data, and is published with his/her unambiguous consent.
<h3>SPECIFIC PRIVACY STATEMENT</h3>
<p>1. Description</p>
<p>QoL Mapping is a tools on the internet enabling a given user to obtain information about a bidimensional quality of life index displayed geographically. Your personal data will be collected and further processed for the purposes detailed hereafter under point 2. </p>
<p>This service is operated by Jorge Artieda who manages the processing acts as personal data processor.</p>
<p>As this processing collects and further processes personal data, Regulation (EC) 45/2001, of the European Parliament and of the Council of 18 December 2000 on the protection of individuals with regard to the processing of personal data by the Community institutions and bodies and on the free movement of such data, is applicable.</p>
<p>2. What personal information do we collect, what is the legal basis, for what purpose and through which technical means?</p>
<p>Identification Data:</p>
<p>The personal data collected and further processed may include: E-Mail, Username and your opinion about your living area [Time to work (min), Usual Transport, Describe Traffic, Tap Water quality, Nearby river pollution, Public Safety, Health and Education Care, Health Services, Low level education quality, High Level education, Purchase Power, Average Salary, Public transport ticket price, Average meal price (restaurant), Average meal price (fast food)]</p>
<p>Legal Basis of processing:</p>
<p>- The European Parliament and Council Decision of 18 Dec. 2006 on the EC 7th Research Framework Programme (FP7) (2007-2013).</p>
<p>- Registration and participation of data subjects are provided on a purely voluntary basis.</p>
<p>Purpose of processing:</p>
<p>The purpose of the processing of personal data for the e-Services is to provide an aggregated data index to the QOL MAPPING community.  Al the information stored on this system will be publicly available. </p>
<p>Technical Information:</p>
<p>The user data are collected through web and mobile forms and stored inside a SQL database.</p>
<p>3. Who has access to your information and to whom is it disclosed?</p>
<p>Al data will be publicly available to all users</p>
<p>The possibility to update or erase the above personal data is only granted to the system administrator of the software.  </p>
<p>4. How do we protect and safeguard your information?</p>
<p>All the information will be stored on a server managed by Jorge Artieda. Common security measurements to protect web servers are used. Passwords are stored hashed to avoid password leeks.</p>
<p>5. How can you verify, modify or delete your information?</p>
<p>Registered users have direct password-protected web access to their profile and are able to update it. To cancel their registration they must direct to jartieda@gmail.com.</p>
<p>6. How long do we keep your data?</p>
<p>Your personal data will remain in the database until the end of the project. Registered users have password protected direct web access to their profile and can cancel their registration at any moment.</p>
<p>7. Contact Information</p>
<p>Should you have any queries concerning the processing of your personal data, please address them to jartieda@small-signals.com</p>
<p>8. Recourse</p>
<p>In the event of a dispute, you can send a complaint to:</p>
<p>•	Jorge Artieda: jartieda@small-signals.com</p>
<p>COLLECTION OF ANONYMOUS TRAFFIC DATA ON THE QOL MAPPING WEBSITE</p>
<p>When someone browses the QOL MAPPING Website anonymous site usage information is collected via various technical means. The usage of the site is recorded in log files. These files contain no personal information, nor information about which other sites the visitor has browsed. They allow the system administrator to improve the service by knowing its usage, and are processed anonymously.</p>

<a href="#tools" class="ui-btn">back</a>
  <div data-role="footer" data-theme="none" data-border="false">
    Smallsignals thanks to European Comission
  </div>
</body>
